[submodule "anthropics/skills"]
	path = anthropics/skills
	url = https://github.com/anthropics/skills.git
[submodule "voltagent/awesome-agent-skills"]
	path = voltagent/awesome-agent-skills
	url = https://github.com/VoltAgent/awesome-agent-skills.git
